.ride-history-container {
  padding: 20px;
  width: 30%;
  height: auto;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #ffffff;
}

.ride-history-main-container {
  width: 90vw;
  padding: 20px;
  background-color: #fff;
  border: 1px solid;
}

.ride-card {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}

.ride-card h3 {
  font-size: 18px;
  color: #0b1187;
  margin-bottom: 10px;
}

.ride-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.ride-card button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ride-card button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 600px) {
  .ride-history-main-container {
    height: 85vh;
  }

  .ride-history-container {
    width: 80%;
  }

  .navbar {
    width: 100%;
  }

  .ride-card {
    padding: 15px;
  }

  .ride-card h3 {
    font-size: 15px;
  }

  .ride-card p {
    font-size: 12px;
  }

  .ride-card button {
    font-size: 12px;
  }
}
/* driver history*/

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.cancel-ride {
  height: 40px;
  width: 120px;
  background-color: red;
  color: #fff;
}
