body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  height: 100vh;
=======
  /* height: 100vh; */
>>>>>>> c4a23c9 (edit commit)
  margin: 0;
}

.Register-main-container {
  /* border: 1px solid; */
  width: 30vw;
  height: 95vh;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.arrow-container {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background-color: #e5e8ef;
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(41, 40, 40);
  display: inline-block;
}

.logo-register {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-register img {
  height: 100px;
}
.container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-section input,
.form-section select {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-section button {
  background-color: #525ad9;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 768px) {
  .Register-main-container {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .Register-main-container {
    width: 80vw;
  }

  .form-section input,
  .form-section select {
    font-size: 12px;
  }
}
