body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.Register-main-container {
  /* border: 1px solid; */
  width: 30vw;
  height: 95vh; 
  max-width: 600px; 
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.logo-register{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-register img{
  height: 100px;
}
.container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  margin: 0 auto; 

}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-section input,
.form-section select {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-section button {
  background-color: #525AD9;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}


@media only screen and (max-width: 768px) {
  .Register-main-container {
    width: 80%; 
  }
}

@media only screen and (max-width: 480px) {
  .Register-main-container {
    width: 90%; 
  }

  .form-section input,
  .form-section select {
    font-size: 12px;
  }
}
